<head>
    <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/openmoji/292/medical-symbol_2695-fe0f.png">
</head>
<style>
body {
    background-color: black;
    color: white;
}
a {color: forestgreen;}
</style>
<title>Welcome to 3age!</title>

<h1>Welcome to 3age!</h1>
<h2>Untriaged issues</h2>
<table cellpadding="5" cellspacing="5">
    <tr>
        <th><a href="/github">Github Issues</a></th>
        <td> {{ num_github_issues }} </td>
    </tr>
    <tr>
        <th><a href="/bugzilla">Bugzilla Issues</a></th>
        <td> {{ num_bugzilla_issues }} </td>
    </tr>
    <tr>
        <th><a href="/cves">CVEs</a></th>
        <td> {{ num_cve_issues }} </td>
    </tr>
</table>

<p id="timer"></p>

<script>
// Set the date we're counting down to
var numMins = 60 * 5

// Update the count down every 1 second
var x = setInterval(function() {

  numMins -= 1
  // Time calculations for minutes and seconds
  var minutes = Math.floor(numMins / 60);
  var seconds = Math.floor(numMins % 60);

  document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";

  if (numMins <= 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "Time to move on to the next bug!";
  }
}, 1000);
</script>
